{% extends 'gabarit_liste.html.twig' %}

{% block thead %}
	<th>Nom</th>
	<th>Niveau</th>
	<th>Prof. principal</th>
{% endblock %}

{% block tbody %}
	{% for classe in classes %}
		<tr>
			<td>{{ classe.nom }}</td>
			<td>{{ classe.niveau }}</td>
			<td>{{ classe.professeurPrincipal.prenom }} {{ classe.professeurPrincipal.nom }}</td>
			<td></td>
		</tr>
	{% endfor %}
{% endblock %}