{% extends 'base.html.twig' %}

{% block title %}Liste des {{ entityName }} | {{ parent() }}{% endblock %}

{% block body %}
<h1>Liste des {{ entityName }}</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            {% block thead %}{% endblock %}
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% block tbody %}{% endblock %}
    </tbody>
</table>
{% endblock %}